/* fallback for old browsers */
/* Chrome 10-25, Safari 5.1-6 */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/* Chrome 10-25, Safari 5.1-6 */
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

body {
  font-family: "Lato", "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  background: #ece9e6;
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ece9e6));
  background: linear-gradient(to right, #ffffff, #ece9e6);
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  font-weight: 300;
  color: #000;
}

h2 {
  font-size: 3rem;
  letter-spacing: 1px;
}

h5 {
  font-size: 1.5rem;
}

p {
  line-height: 1.5rem;
}

.section-container {
  width: 100%;
}



#navbar {
  z-index: 1;
  width: 100%;
  background-color: rgb(228, 102, 29);
  position: fixed;
}


#navbar .navbaIcon {
  font-weight: bold;
  margin: 0 10px;
  color: grey;
  font-size: 1.9rem;
  text-shadow: 2px 2px 2px black; 

}

#navbar .navbar-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#navbar .navbar-toggler {
  border-color: white;
  background-color: rgba(0, 0, 0, 0.411);
}

#navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#navbar .nav-item {
  position: relative;
}

#navbar .nav-item:hover:after {
  content: "";
  position: absolute;
  width: 80%;
  top: 48px;
  left: 10px;
  border-bottom: 5px solid #009bc5;
  -webkit-animation: border-bottom 0.4s linear;
          animation: border-bottom 0.4s linear;
}


.imagen-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}


.gobierno img {
  width: 700px;
  height: 150px;
}

@-webkit-keyframes border-bottom {
  0% {
    width: 0%;
  }
  50% {
    width: 20%;
  }
  100% {
    width: 100%;
  }
}

@keyframes border-bottom {
  0% {
    width: 0%;
  }
  50% {
    width: 20%;
  }
  100% {
    width: 100%;
  }
}

#navbar .nav-link {
  font-weight: bold;
  margin: 0 10px;
  color: grey;
  font-size: 1.4rem;
  text-shadow: 2px 2px 2px black;
  
}

#navbar .nav-link:hover {
  font-weight: 400;
}



.gobierno a {
  text-decoration: none; /* Elimina la decoración de subrayado en el enlace */
  color: inherit; /* Hereda el color del texto de los elementos padres */
  /* Agrega cualquier otro estilo necesario para el enlace */
}



#gobiernos {
  text-align: center;
}

#gobiernos .gobierno {
  padding: 30px 0;
}

#gobiernos h5 {
  margin: 15px 0;
}

#gobiernos p {
  width: 50%;
  margin: auto;
}

#gobiernos > div:nth-child(even) {
  color: #ffffff;
  background:rgb(228, 102, 29);
  /* fallback for old browsers */
  background: -webkit-gradient(linear, left top, right top, from(#ff8c00), to(#ff8c00));
  background: linear-gradient(to right, #ff8c00, #ff8c00);
  background: -webkit-linear-gradient(to right, #ff8c00, #ff8c00);
}



#gobiernos i {
  font-size: 3rem;
}

#steel-frame .parallax-container {
  margin: 130px 0;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}



/*fotter*/

footer {
  background-color: #f07518; 
  color: white;
  text-align: center;
  padding: 10px;
}


/*header*/
header {
  width: 100%;
  text-align: center;
}

header img {
  width: 100%;
  height: auto;
}