/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*organigrama*/

/*linea de cabildo*/

.contenedor-naranja {
  background-color: #f07518; /* Color naranja */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff; /* Texto blanco */
  margin-bottom: 20px;
}

/*presidente*/
.presidente {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Alinea el texto al centro */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.foto {
  width: 100%;
  max-width: 300px; /* Ajusta el ancho máximo de la foto según tus necesidades */
  text-align: center; /* Alinea la imagen al centro */
  margin-bottom: 10px;
}

.foto img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
.nombre {
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}
.cargo {
  font-weight: bold;
  transition: transform 0.3s ease-in-out;
}

.presidente:hover .foto img  {
  transform: scale(1.1); /* Aplica la transformación al pasar el ratón sobre la persona */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.presidente:hover .nombre {
  transform: scale(1.1); /* Aplica la transformación al pasar el ratón sobre la persona */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.presidente:hover .cargo {
  transform: scale(1.1); /* Aplica la transformación al pasar el ratón sobre la persona */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/*
.organigrama {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.persona {
  position: relative;
  margin: 0 20px;

  transition: transform 0.3s ease-in-out;
}

.persona:hover {
  transform: scale(1.2);
}

.nombre {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.cargo {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
*/

.organigrama {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 30px;
} 
.persona {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  width: calc(33.33% - 20px); /* Aproximadamente un tercio del ancho, considerando márgenes */
  box-sizing: border-box; /* Incluir padding y border en el ancho total */
}
.foto {
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 50%;
}

.foto img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.nombre {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.cargo {
  color: #555;
}

.persona:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


/*fin organigrama*/

